<h1>All the Students at Hogwarts</h1>


<% for student in @students %>

<p>
Name: <%= student.first_name() + " " + student.last_name %><br>
House: <%= student.house() %><br>
Age: <%= student.age() %><br>
Id: <%= student.id() %><br>
</p>



<% end %>
