<h3>Add New Student Here...</h3>
<br>
<br>
<br>
<br>

<form method="post" action="/students/new">
  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name"/>

  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name"/>

  <label for="house">House:</label>
  <select id="house" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age">Age</label>
  <input id="age" type="number" name="age"/>

<input type="submit" value="Add Student"/>

</form>
